
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta http-equiv="X-UA-Compatible" conent="ie=edge">
    <title>Speech recognition app</title>
</head>
<body>
    <div class="login-page-intro">
        <div class="form-intro">
            <h1>Välkommen!</h1>
            <h4>Denna sida är en del av mitt arbete som fokuserar på röststyrning</h4>
            <h4>Jag behöver hjälp med att samla in lite data och statistik. Detta hoppas jag få med din hjälp genom att du genomför två test. Detta är deltest 1 av 2</h4>
            <h4>När jag redovisar mitt arbete kommer jag inte ange några namn men för att jag ska kunna koppla testerna till just dig är det smidigast om du anger rätt namn och email vid registrering</h4>
            <h4>Testet tar normalt mellan 6-7 minuter. För att få ett tillförlitligt dataset så behöver jag att testet repeteras 10 gånger</h4>
            <h4>Om du vill köra testet flera gånger i rad så får du gärna ta en paus på några minuter mellan testen. Ta dock inga pauser mitt under testet om möjligt</h4>
            <h4>Jag är jättetacksam att du tar dig tiden</h4>
            <h4>OBS!<br> Detta test fungerar för tillfället endast i webläsaren google chrome. Om du inte har chrome så får du gärna hämta och installera det genom att klicka <a href="https://www.google.com/chrome/">här</a></h4>
            <form action="user/login" method="GET" class="login-form">
                <button type="submit">Logga in</button>
            </form>
            <form action="user/register" method="GET" class="login-form">
                <button type="submit">Registrera</button>
            </form>
        </div>
    </div>
    
    <script src="index.js"></script>
</body>

<script src="speech.js"></script>

</html>
