<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta http-equiv="X-UA-Compatible" conent="ie=edge">
    <title>Speech recognition app</title>
</head>
<body>
    <div class="login-page-intro">
        <div class="form-intro">
            <h2>Registrera ett konto</h2>
            <form action="register" method="POST" class="login-form">
                <div>
                    <input type="text" id="name" name="name" placeholder="namn" required>
                </div>
                <div>
                    <input type="email" id="email" name="email" placeholder="epost" required>
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="lösenord" required>
                </div>
                <button type="submit">Registrera</button>
            </form
        </div>
        <p class="message">Har du redan ett konto? <a href="login">Logga in</a></p>
    </div>

</body>
</html>
