<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta http-equiv="X-UA-Compatible" conent="ie=edge">
    <title>Speech recognition app</title>
</head>
<body>
    <div class="login-page-intro">
        <div class="form-intro">
            <h1>Instruktioner</h1>
            <h4>Du kommer att få ett engelskt ord eller mening uskrivet på skärmen. Klicka på "spela in" och läs upp texten som anges</h4>
            <h4>Vid första inspelningen kommer webläsaren fråga om tillstånd att använda mikrofonen. Vänligen godkänn detta då vi behöver den för att det skall fungera</h4>
            <h4>Testet kommer att i slutändan vara annonymt. Appen lagrar <u>inga</u> ljudfiler av det du läser upp utan endast text-snutten efter tolkning</h4>
            <h4>Inspelningen avslutas automatiskt när det bli tyst. Så för att få bästa möjliga resultat är det viktigt att man är tyst i några sekunder efter varje ord/mening</h4>
            <h4>Prata tydligt in i mikrofonen</h4>
            <h4>Om testet inte går vidare efter inspelninge och minst 5 sekunder har passerat så kunde inte ordet tolkas. Testa då att klicka på "SPELA IN" igen och prata lite närmare mikrofonen. Skulle det inte fungera efter flera försök kan man spela in ordet "skipp" för att hoppa vidare</h4>
            <h4>Tack! :) </h4>
            <form action="/voice/talk-login" method="GET" class="login-form">
                <button type="talk-login">KÖR IGÅNG</button>
            </form>
        </div>
    </div>
</body>
</html>
